.bg_normal {
    background-color: #A8A77A;
}

.bg_fire {
    background-color: #EE8130;
}

.bg_water {
    background-color: #6390F0;
}

.bg_electric {
    background-color: #F7D02C;
}

.bg_grass {
    background-color: #7AC74C;
}

.bg_ice {
    background-color: #96D9D6;
}

.bg_fighting {
    background-color: #C22E28;
}

.bg_poison {
    background-color: #A33EA1;
}

.bg_ground {
    background-color: #E2BF65;
}

.bg_flying {
    background-color: #A98FF3;
}

.bg_psychic {
    background-color: #F95587;
}

.bg_bug {
    background-color: #A6B91A;
}

.bg_rock {
    background-color: #B6A136;
}

.bg_ghost {
    background-color: #735797;
}

.bg_dragon {
    background-color: #6F35FC;
}

.bg_dark {
    background-color: #705746;
}

.bg_steel {
    background-color: #B7B7CE;
}

.bg_fairy {
    background-color: #D685AD;
}

.bg_default {
    background-color: #A8A8A8; /* Standardfarbe für unbekannte Typen */
}
